@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Qwitcher+Grypen:wght@700&display=swap');

.contenedor_detail{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    gap: 30rem;
    justify-content: space-evenly;
    align-items: center;
}


.contenedor_titulo{
    display:flex;
    flex-direction: column;
}


.titulo_producto{
    margin: 3rem;
    font-size: 35px;
    margin-top: 30px;
    margin-top: 50px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.descripcion_producto{
    margin-right: 20px;
    margin-top: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.imagen_producto{
    width: auto;
}

.precio_producto{
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.contenedor_contador{
    margin-top: 2rem;
}

.contenedor_finalizar{
    display: flex;
    justify-content: center;
}
.finalizar_compra { 
    
    background-color: initial;
    background-image: radial-gradient(#b56efb 0, #f79ad9 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    margin: 15px;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: bottom;
    width: 190px;
  }

  .finalizar_compra:hover {
    color:black;
    opacity: .7;
  }

@media screen and (max-width: 1000px) {
.finalizar_compra {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}