@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Qwitcher+Grypen:wght@700&display=swap');

.container-fluid{
    background-image: radial-gradient(circle at 50% -20.71%, #badbff 0, #c2daff 6.25%, #c9d8ff 12.5%, #d0d6ff 18.75%, #d8d4ff 25%, #dfd2fe 31.25%, #e6d0fa 37.5%, #eccff6 43.75%, #f2cdf2 50%, #f7cced 56.25%, #fccbe8 62.5%, #ffcae2 68.75%, #ffc9dd 75%, #ffc9d7 81.25%, #ffc9d1 87.5%, #ffc9cc 93.75%, #ffcac6 100%);
}
.navbar-brand{
    font-family: 'Qwitcher Grypen', cursive;
    color: black;
    font-size: 40px;
}

#navbarNavDropdown{
    justify-content: flex-end;
}
.nav-link{
    font-family: 'DM Sans', sans-serif;
    color: purple;
    font-size: 18px;
    padding: 15px;
    margin: 12px;
}

.labial_icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart_icon{
    padding: 40px;
}

